// Button styles 
.btn{
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover{
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark{
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50);
    color: white;
}
.btn-light{
    @extend .btn; 
    background: lighten($color: $primary-color, $amount: 50);
    color: #333;
 
}